# VITE_GROQ_API_KEY: Required for Groq API calls.
VITE_GROQ_API_KEY="MY_GROQ_API_KEY"

# VITE_OPENROUTER_API_KEY: Required for OpenRouter API calls.
VITE_OPENROUTER_API_KEY="MY_OPENROUTER_API_KEY"

# VITE_NVIDIA_API_KEY: Required for NVIDIA API calls.
VITE_NVIDIA_API_KEY="MY_NVIDIA_API_KEY"

# VITE_TAVILY_API_KEY: Required for Tavily API calls.
VITE_TAVILY_API_KEY="MY_TAVILY_API_KEY"
